asgiref==3.11.1
boto3==1.43.71
botocore==1.43.71
Django==5.2.14
django-allauth==65.17.0
django-crispy-forms==2.6
django-environ==0.13.0
django-storages==1.14.6
geographiclib==2.1
geopy==2.4.1
gunicorn==26.0.0
jmespath==1.1.0
packaging==26.3
pillow==12.2.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
s3transfer==0.19.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0
