{% extends "dashboard_base.html" %}

{% block dashboard_content %}

<div class="container py-4">

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>

➕ Nouveau dirigeant

</h3>

</div>

<div class="card-body">

<form method="POST"
enctype="multipart/form-data">

{% csrf_token %}

{{ form.as_p }}

<button class="btn btn-success">

Enregistrer

</button>

<a href="{% url 'dashboard_gouvernance' %}"
class="btn btn-secondary">

Retour

</a>

</form>

</div>

</div>

</div>

{% endblock %}
