{% extends "base.html" %}

{% block content %}

<style>

.sidebar{
    min-height:100vh;
    background:#212529;
    padding:25px;
}

.sidebar h3{
    color:white;
    font-weight:bold;
}

.menu-link{
    display:block;
    color:#ffffff;
    text-decoration:none;
    padding:12px 15px;
    margin-bottom:8px;
    border-radius:8px;
    transition:0.3s;
    font-weight:500;
}

.menu-link:hover{
    background:#198754;
    color:white;
    text-decoration:none;
}

.menu-link.active{
    background:#198754;
}

</style>

<div class="container-fluid">

<div class="row">

<!-- SIDEBAR -->

<div class="col-lg-2 sidebar">

<h3 class="mb-4">
CONASAN
</h3>

<hr class="text-white">

<a href="{% url 'dashboard' %}" class="menu-link">
🏠 Tableau de bord
</a>

<a href="{% url 'dashboard_programmes' %}" class="menu-link">
❤️ Programmes
</a>

<a href="{% url 'dashboard_actualites' %}" class="menu-link">
📰 Actualités
</a>

<a href="{% url 'dashboard_structures' %}" class="menu-link">
🏥 Structures
</a>

<a href="{% url 'dashboard_gouvernance' %}" class="menu-link">
🏛 Gouvernance
</a>

<a href="{% url 'dashboard_apropos' %}" class="menu-link">
ℹ À propos
</a>

<a href="{% url 'dashboard_partenaires' %}" class="menu-link">
🤝 Partenaires
</a>

<a href="{% url 'dashboard_documentation' %}" class="menu-link">
📄 Documentation
</a>

<a href="{% url 'dashboard_galerie' %}" class="menu-link">
🖼 Galerie
</a>

<a href="{% url 'dashboard_videos' %}" class="menu-link">
🎥 Vidéos
</a>

<a href="{% url 'messages_dashboard' %}" class="menu-link">
📩 Messages
</a>

<a href="{% url 'dashboard_notifications' %}" class="menu-link">
🔔 Notifications
</a>

<a href="{% url 'utilisateurs' %}" class="menu-link">
👥 Utilisateurs
</a>

<a href="{% url 'dashboard_traductions' %}" class="menu-link">
🌍 Traductions
</a>

<a href="{% url 'dashboard_ia' %}" class="menu-link">
🤖 Intelligence Artificielle
</a>
<a href="{% url 'dashboard_hero' %}" class="menu-link">
    🖼 Hero de la page d'accueil
</a>

<a href="{% url 'dashboard_parametres' %}" class="menu-link">
⚙ Paramètres
</a>

<form method="post" action="{% url 'deconnexion' %}" style="margin: 0;">
    {% csrf_token %}

    <button
        type="submit"
        class="menu-link"
        style="border: none; background: none; width: 100%; text-align: left; cursor: pointer;">

        🚪 Déconnexion

    </button>

</form>
</div>

<!-- CONTENU -->

<div class="col-lg-10 p-4">

{% block dashboard_content %}

{% endblock %}

</div>

</div>

</div>

{% endblock %}
